extends /includes/layout

block container
	script(src='/socket.io/socket.io.js')
	p #{user}
	.container
	.starter-template
		.detailcontainer
			h1 #{user}
			p
			|	This is a place to see secrets of #{user}. You get to see a new secret of #{user}s everytime #{user} overspends.
			
		form(method='POST' action='send_secret')
			.form-group
				label(for='exampleTextarea') A secret about #{user}
				textarea#exampleTextarea.form-control(rows='3')
			//- add pictures
			.form-group#pictureupload
				#upload_img_container
					input(id="input_images" name='images' type="file" multiple="true")
			button.btn.btn-primary(type='submit') Submit
	script
		include assets/upload.js
