extends /includes/layout

block container
	script(src='/socket.io/socket.io.js')
	p #{user}
	.container
	.starter-template
		.detailcontainer
			h1 Secret Add Page for #{user}
			p
			|    Psst, #{friendname}! Type in (or upload an image of) a secret you know about #{user}.
		form(method='GET' action='/user/'+user+'/api/addsecret/')
			.form-group
				label(for='exampleTextarea') A secret about #{user}
				textarea#exampleTextarea.form-control(rows='3' name='text')
			//- add pictures
			.form-group#pictureupload
				#upload_img_container
					input(id="input_images" name='images' type="file" multiple="false")
			input(type='hidden' name='friendname' value=friendname)
			button.btn.btn-primary(type='submit')#adddirt Submit
	script
		include assets/upload.js
