extends /includes/layout

block container
	p #{user}
	.container
	.starter-template
		.detailcontainer
			h1 #{user}
			p This is a place to see secrets of #{user}. You get to see a new secret of #{user}s everytime #{user} overspends. #{user} has #{secrets.length} secrets. 
			if budget != null
				div.alert.alert-success
					p #{user} has a current spending goal of £#{budget.amount} and has spent £#{budget.value} of it already. They have until #{budget.end} until this constraint is lifted.
			else
				div.alert.alert-danger
					span #{user} has not set up a spending goal yet!	
		h2 Secrets
		- numSecrets = 0;
		each item in secrets
			if item.exposed == true
				- numSecrets += 1
				.card.cardthang
					.card-block
						h4.card-title #{item.secret}
						h6.card-subtitle.mb-2.text-muted #{item.date}
						p.card-text #{item.cause}
		if numSecrets < 1
			p #{user} has been a good boy and not overspent yet!
		else
			p #{user} has had #{numSecrets} secrets revealed
		h2 Previous Budgets
		each item in budgethistory
			case item.status
				when "success"
					.card.cardthang.alert-success
						.card-block
							h4.card-title £#{item.value}/£#{item.amount}
							h6.card-subtitle.mb-2.text-muted Ended #{item.end}
							h6.card-subtitle.mb-2 Successfully completed.
				when "failed"
					.card.cardthang.alert-danger
						.card-block
							h4.card-title £#{item.value}/£#{item.amount}
							h6.card-subtitle.mb-2.text-muted Ended #{item.end}
							h6.card-subtitle.mb-2.text-muted Failed!
				default
					.card.cardthang
						.card-block
							h4.card-title £#{item.value}/£#{item.amount}
							h6.card-subtitle.mb-2.text-muted Ended #{item.end}
							h6.card-subtitle.mb-2.text-muted Cancelled